extends layout

block content
  h1= title
  p Welcome to #{title}

  p Wanna be cute without being there yourself?&nbsp;
    a(href='/products') Send flowers.
    p All of the credibility with none of the hassle.

  h2 Oh-Lala
